		<div>
            Name:  <%= @creature.name %> <br>
            Description: <%= @creature.description %><br>
            <a href="bogs/:id/edit"> Edit Creature </a><br>
            <a href="/bogs/new"> Add Another Creature </a><br>
            <a href="/bogs"> Return Home </a>
        </div>